PORT=3000
NODE_ENV=development

AUTH_SERVICE_URL=http://auth-service:3001
MARKETPLACE_SERVICE_URL=http://marketplace-service:3002
TRANSACTION_SERVICE_URL=http://transaction-service:3003
IMAGE_PROCESSOR_URL=http://image-processor:5000

REDIS_HOST=redis
REDIS_PORT=6379

RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=2000
