PORT=3003
NODE_ENV=development

DATABASE_URL=postgresql://vividcraft:vividcraft_secret@postgres:5432/vividcraft_transactions?schema=public

REDIS_HOST=redis
REDIS_PORT=6379

PAYMENT_SIMULATION_DELAY_MS=1500
